<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trumpeted.stone.manage.common.dal.dao.StoneDao">
    <resultMap id="stoneMap" type="StoneDo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="gmtModifier" column="gmt_modifier"/>
        <result property="gmtCreated" column="gmt_created"/>
        <association property="stoneTypeDo" javaType="StoneTypeDo" column="type_id">
            <id property="id" column="sp.id"/>
            <result property="name" column="sp.name"/>
            <result property="status" column="sp.status"/>
            <result property="gmtModifier" column="sp.gmt_modifier"/>
            <result property="gmtCreated" column="sp.gmt_created"/>
        </association>
    </resultMap>
<select id="selectAll" resultMap="stoneMap">
    select s.id,s.name,s.image,s.type_id,s.gmt_modifier,s.gmt_created,sp.id 'sp.id',sp.name 'sp.name',sp.status,sp.gmt_modifier 'sp.gmt_modifier',sp.gmt_created 'sp.gmt_created'
    from stone s
    left join stone_type sp
    on s.type_id=sp.id
</select>
    <!--<insert id="insert" parameterType="StoneDo">
        insert into stone
        (name,image,type_id,gmt_modifier,gmt_created)
        values
        (#{name},#{image},#{typeId},#{gmtModifier},#{gmtCreated})
    </insert>-->
</mapper>
